img{
    border-radius: 50%;
}
ul {
    list-style-type: none;
    float: right;
    padding-top:70px;
  }
  
  li {
    float: left;
    padding:30px;
    color:blue;
    background-color: #dddddd;
  }

  #logo_row{
    float:inline;
    background-color: #dddddd;
  }